/* Default styles */
.container {
  border: 3px solid rgb(53, 72, 14);
  width: 550px;
  height: auto;
  margin: 50px auto;
  border-radius: 10px;
  padding: 20px;
  background-color: #f5f5f5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  font-weight: 600;
}

h1,
h2 {
  font-weight: 600;
  color: rgb(229, 233, 240);
}

.selectTag {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.mainBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.singleBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.singleBox p {
  margin: 5px 0;
}

.weatherIcon {
  font-size: 36px;
  color: #333;
}

@media screen and (max-width: 600px) {
  .container {
    width: 90%;
    margin: 20px auto;
    padding: 10px;
    font-size: 12px;
  }

  .weatherIcon {
    font-size: 30px;
    color: #333;
  }

  .selectTag {
    font-size: 14px;
  }

  .mainBox {
    flex-direction: row;
  }
}
